#header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border: 2px solid black;
background-color: #88ebe6
}
#title {
  align-self: center;
  margin-top: 10vh;
  /* color: blueviolet; */
}
#nav {
 align-self: flex-end;
  
  
}

.main {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}


body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#definitions {
  display: flex;
  flex-direction: column;
}